body {
	background-color: #888;
	color: #000305;
	font-size: 87.5%;
	font-family: Arial
	line-height: 1.5;
	text-align: left;
}

a {
	text-decoration: none;
}

a:link, a:visited {

}

a:hover, a:active {

}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.mainHeader img {
	width: 30%;
	height: auto;
	margin: 2%, 0;
}

.mainHeader nav {
	background-color: #666;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


